body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial;

  --bg-color: white;
  background: var(--bg-color);

  &[data-theme="dark"] {
    --bg-color: #1e1e1e;;
  }
}

.app {
  min-height: 100vh;

  nav.docs {
    display: flex;
    justify-content: space-between;
    background: #f3f3f3;
    margin: 0;
    color: black;
    font-size: 14px;
    padding: 5px 10px;

    [data-theme="dark"] & {
      background: #0e0e0e;
      color: white;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
        margin-right: 20px;

        a {
          text-decoration: none;
          color: currentColor !important;
        }
      }
    }

    a.git {
      display: flex;
      align-items: center;
      color: currentColor !important;
      text-decoration: none;

      svg {
        margin-right: 5px;
      }
    }
  }
}

.main {
  display: grid;
  grid-template-columns: 230px 1fr;
  min-height: 100vh;
}

@media(max-width: 700px) {
  .main {
    grid-template-columns: unset;
    grid-template-rows: auto 1fr;
  }

  .app nav.docs {
    display: none;
  }
}
