.overlay {
  background: rgb(3 3 3 / 75%);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.modal {
  max-width: min(400px, min(400px, calc(100% - 150px)));
  background: white;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: -1px 1px 11px 0px #31313129;
  padding: 40px;

  [data-theme="dark"] & {
    background: #272727;
    color: white;
  }

  h1 {
    margin: 0;
  }

  button[type="submit"] {
    background: #60b200;
    border: none;
    margin-top: 20px;
    display: block;
    padding: 10px 18px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    color: white;

    &:hover {
      background: #5ba800;
    }
  }
}
