.sidebar {
  background: #fbfbfb;

  [data-theme="dark"] & {
    background: #282828;
    color: snow;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-size: 20px;
      padding: 0 20px;
      margin-bottom: 15px;
    }

    button {
      background: none;
      border: none;
      font-size: 25px;
      margin-right: 10px;
      cursor: pointer;
      padding-top: 5px;

      [data-theme="dark"] & {
        color: white;
      }

      // No need to show on desktop
      display: none;
    }
  }


  h2 {
    background: #272727;
    margin: 0;
    padding: 5px 30px;
    color: white;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;

    [data-theme="dark"] & {
      background: #2d2d2d;
    }

    &:not(:first-of-type) {
      margin-top: 20px;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px 10px;
      background-color: white;
      font-size: 14px;
      text-align: center;
      user-select: none;
      
      &:hover {
        background: #ebebeb;
        cursor: pointer;
      }

      [data-theme="dark"] & {
        background: #262626;

        &:hover {
          background: #171717;
        }
      }

      &[data-selected] {
        background: #0051f8;
        color: white;

        &:hover {
          background: #0245d0;
        }
      }

      svg {
        margin-left: 5px;

        &.filled {
          color: #0051f8;

          [data-theme="dark"] & {
            color: white;
          }
        }
      }
    }
  }
}

// Hidden by default on mobile
@media(max-width: 700px) {
  .sidebar {
    header {
      button {
        display: block;
      }
    }

    &[aria-expanded="false"] {
      h2, ul {
        display: none;
      }
    }
  }
}
